

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 2fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    ". Login Login ."
    "Footer Footer Footer Footer";
}

.Header {
  background-color: blue;
}

.Header { 
  grid-area: Header;
}

.Login { grid-area: Login; }

.Footer { grid-area: Footer; }
